<template>
  <form @submit.prevent="submitForm">
    <div
      class="form-control"
      :class="{ invalid: contentValidity === 'invalid' }"
    >
      <label for="content">Treść zgłoszenia</label>
      <input
        type="text"
        id="content"
        name="content"
        v-model="report.content"
        @blur="validateInput('content')"
        @keyup="validateInput('content')"
      />
      <p v-if="contentValidity === 'invalid'">Treść nie może być pusta</p>
    </div>
    <div class="form-control" :class="{ invalid: descValidity === 'invalid' }">
      <label for="desc">Komentarz</label>
      <textarea
        name="desc"
        id="desc"
        v-model="report.desc"
        @blur="validateInput('desc')"
        @keyup="validateInput('desc')"
      ></textarea>
      <p v-if="descValidity === 'invalid'">Opis nie może być pusty</p>
    </div>
    <div class="form-control">
      <label for="unit">
        Której instancji dotyczy zgłoszenie
        <span class="optional"> *Opcjonalne </span>
      </label>
      <select id="unit" name="unit" v-model="report.unit">
        <option hidden disabled selected value>--</option>
        <option v-for="unit in units" :key="unit['id']" :value="unit['id']">
          {{ unit["unit"] }}
        </option>
      </select>
    </div>
    <div class="form-control" :class="{ invalid: emailValidity === 'invalid' }">
      <label for="email">
        Email
        <span class="optional"> *Opcjonalne </span>
      </label>
      <input
        name="email"
        id="email"
        type="email"
        v-model="report.email"
        @blur="validateEmail"
        @keyup="validateEmail"
      />
    </div>
    <div class="form-control">
      <label for="phone">
        Telefon
        <span class="optional"> *Opcjonalne </span>
      </label>
      <input name="phone" id="phone" type="tel" v-model="report.tel" />
    </div>
    <div class="form-control" v-if="report.tel !== '' || report.email !== ''">
      <input
        type="checkbox"
        name="confirm"
        id="confirm"
        v-model="report.confirm"
      />
      <label for="confirm">
        Wyrażam zgodę na przetwarzanie email i/lub tel
      </label>
    </div>
    <base-button class="outline">Wyślij</base-button>
  </form>
  <div>
    <base-card>
      <base-button link :to="bokLink">Zobacz nowe zgłoszenia</base-button>
    </base-card>
  </div>
</template>

<script setup>
import { reactive, ref, defineProps } from "vue";

defineProps(["units"]);
const contentValidity = ref("pending");
const descValidity = ref("pending");
const emailValidity = ref("pending");

const bokLink = "/bok/all";

const report = reactive({
  content: "",
  desc: "",
  unit: "",
  email: "",
  tel: "",
  confirm: false,
  userAgent: navigator.userAgent,
  readStatus: "nieodczytane",
  firstRead: "",
  firstReadDate: null,
  actionStatus: "nowe",
});

function validateEmail() {
  if (
    /^\w+([\\.-]?\w+)*@\w+([\\.-]?\w+)*(\.\w{2,3})+$/.test(report.email) ||
    report.email === ""
  ) {
    emailValidity.value = "valid";
  } else {
    emailValidity.value = "invalid";
  }
}

function validateInput(value) {
  if (value === "content") {
    if (report.content === "") {
      contentValidity.value = "invalid";
    } else {
      contentValidity.value = "valid";
    }
  } else {
    if (report.desc === "") {
      descValidity.value = "invalid";
    } else {
      descValidity.value = "valid";
    }
  }
}

async function submitForm() {
  console.log(JSON.stringify(report));
  const response = await fetch("http://form/form/add", {
    method: "POST",
    body: JSON.stringify(report),
  });

  if (!response.ok) {
    throw new Error("Błąd wysyłania danych");
  } else {
    return alert("zgłoszenie wysłane pomyślnie");
  }
}
</script>

<style scoped>
.optional {
  font-size: small;
  color: rgb(134, 119, 119);
}

form {
  margin: 2rem auto;
  max-width: 40rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 2rem;
  background-color: #ffffff;
}

.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

.form-control.invalid input {
  border-color: red;
}
.form-control.invalid label {
  color: red;
}
.form-control.invalid p {
  color: red;
}

h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  margin-top: 0.5rem;
}

select {
  width: 30%;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  width: auto;
  margin-right: 1rem;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  font-weight: normal;
}

button {
  font: inherit;
  border: 1px solid #0076bb;
  background-color: #0076bb;
  color: white;
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 30px;
}

button:hover,
button:active {
  border-color: #002350;
  background-color: #002350;
}
</style>
