<template>
  <div>
    <base-card>
      <h3>{{ text.text }}</h3>
      <base-button @click="changeReports(text.value)">{{
        text.buttonText
      }}</base-button>
      <base-button link :to="formLink">Zobacz formularz</base-button>
    </base-card>
  </div>
  <div class="center">
    <ul>
      <report-element
        class="bok"
        v-for="report in reports.length"
        :key="reports[report - 1]['id']"
        :id="reports[report - 1]['id']"
        :content="reports[report - 1]['content']"
        :action-status="reports[report - 1]['actionStatus']"
      ></report-element>
    </ul>
  </div>
</template>

<script setup>
import { onMounted, reactive, ref } from "vue";
import { useStore } from "vuex";
import ReportElement from "@/components/ReportElement.vue";

const reports = ref([]);
const isLoading = ref(false);
const error = ref(null);
const text = reactive({
  text: "Nowe zgłoszenia",
  buttonText: "Zobacz wszystkie zgłoszenia",
  value: "all",
});

const store = useStore();

const formLink = "/form";
function changeReports(value) {
  if (value === "all") {
    reports.value = sort(store.getters.reports);
    text.text = "Wszystkie zgłoszenia";
    text.buttonText = "Zobacz nowe zgłoszenia";
    text.value = "new";
  } else {
    reports.value = sort(store.getters.newReports);
    text.text = "Nowe zgłoszenia";
    text.buttonText = "Zobacz wszystkie zgłoszenia";
    text.value = "all";
  }
}
async function loadReports() {
  isLoading.value = true;
  try {
    await store.dispatch("loadReports");
  } catch (er) {
    error.value = er.message || "Nie udało się załadować zgłoszeń.";
  }
  isLoading.value = false;
}

onMounted(async function () {
  await loadReports();
  reports.value = sort(store.getters.newReports);
  if (reports.value.length === 0) {
    alert("Brak nowych raportów, przekierowywanie na wszystkie zgłoszenia");
    // reports.value = sort(store.getters.reports);
    changeReports("all");
  }
});

function sort(data) {
  return data.slice().sort((a, b) => new Date(a.addDate) - new Date(b.addDate));
}
</script>

<style scoped>
.center {
  border-radius: 20px;
  background-color: deepskyblue;
  padding: 1rem;
  margin: auto;
  width: 50%;
}

.bok {
  background-color: white;
  margin: auto auto 1rem;
  padding: 1rem;
}
ul {
  margin: 0;
  padding: 0;
}
</style>
