<template>
  <base-dialog :show="!!error" title="Wystąpił błąd!" @close="handleError">
    {{ error }}
  </base-dialog>
  <base-spinner v-if="isLoading"></base-spinner>
  <first-reader
    v-else-if="selectedReport['firstRead'] === ''"
    :id="props.id"
  ></first-reader>
  <base-card
    v-else-if="selectedReport !== null && selectedReport['firstRead'] !== ''"
  >
    <div>
      <h3>{{ selectedReport["content"] }}</h3>
    </div>
    <div>
      <h4>{{ selectedReport["desc"] }}</h4>
    </div>
    <div>
      <p>
        Data utworzenia: <b>{{ selectedReport["addDate"] }}</b>
      </p>
      <p>
        Status: <b>{{ actionStatus }}</b>
      </p>
      <p>
        Data pierwszego odczytania zgłoszenia:
        <b>{{ selectedReport["firstReadDate"] }}</b>
      </p>
      <p>
        Użytkownik, który odczytał zgłoszenie jako pierwszy:
        <b>{{ selectedReport["firstRead"] }}</b>
      </p>
      <p v-if="checkField(selectedReport['email'])">
        Adres e-mail: <b>{{ selectedReport["email"] }}</b>
      </p>
      <p v-if="checkField(selectedReport['tel'])">
        Numer telefonu: <b>{{ selectedReport["tel"] }}</b>
      </p>
      <p v-if="checkField(selectedReport['unit'])">
        Jednostka organizacyjna: <b>{{ selectedReport["unit"] }}</b>
      </p>
      <p>
        User agent: <b>{{ selectedReport["userAgent"] }}</b>
      </p>
    </div>
    <set-status
      v-if="selectedReport != null"
      :status-id="selectedReport['status']"
      :report-id="selectedReport['id']"
    ></set-status>
    <comments-list
      v-if="selectedReport != null"
      :comments="getComments"
      :report-id="selectedReport['id']"
    >
    </comments-list>
  </base-card>
</template>

<script setup>
import { computed, defineProps, ref } from "vue";
import { useStore } from "vuex";
import FirstReader from "@/components/FirstReader.vue";
import SetStatus from "@/components/SetStatus.vue";
import CommentsList from "@/components/CommentsList.vue";
// import { useRouter } from "vue-router";

const store = useStore();
// const router = useRouter();

const props = defineProps(["id"]);
const isLoading = ref(false);
const error = ref(null);
const selectedReport = ref(null);

function checkField(field) {
  return field !== null && field !== "";
}

function handleError() {
  error.value = null;
}
const getComments = computed(function () {
  return selectedReport.value["comments"];
});

const actionStatus = computed(function () {
  return store.getters.actionStatus.find(
    (action) => action["id"] === selectedReport.value["actionStatus"]
  )["status"];
});

try {
  selectedReport.value = store.getters.reports.find(
    (report) => report["id"].toString() === props.id.toString()
  );
} catch (error) {
  error.value = error.message || "Nie udało się załadować";
}
</script>

<style scoped>
h3 {
  font-size: 1.5rem;
}

h3,
h4 {
  margin: 0.5rem 0;
}

div {
  margin: 0.5rem 0;
}
</style>
