<template>
  <base-card>
    <h2>Formularz zgłoszeniowy</h2>
    <form-view :units="units"> </form-view>
  </base-card>
</template>

<script setup>
import { onMounted, ref } from "vue";
import { useStore } from "vuex";
import FormView from "@/components/form/FormView.vue";
const store = useStore();

const units = ref([]);

onMounted(async function () {
  await store.dispatch("loadReports");
  units.value = store.getters.units;
});
</script>

<style scoped>
.optional {
  font-size: small;
  color: rgb(134, 119, 119);
}

form {
  margin: 2rem auto;
  max-width: 40rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 2rem;
  background-color: #ffffff;
}

.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

.form-control.invalid input {
  border-color: red;
}
.form-control.invalid label {
  color: red;
}
.form-control.invalid p {
  color: red;
}

h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  margin-top: 0.5rem;
}

select {
  width: 30%;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  width: auto;
  margin-right: 1rem;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  font-weight: normal;
}

button {
  font: inherit;
  border: 1px solid #0076bb;
  background-color: #0076bb;
  color: white;
  cursor: pointer;
  padding: 0.75rem 2rem;
  border-radius: 30px;
}

button:hover,
button:active {
  border-color: #002350;
  background-color: #002350;
}
</style>
