<template>
  <base-dialog :show="!!error" title="Wystąpił błąd!" @close="handleError">
    {{ error }}
  </base-dialog>
  <div v-if="isLoading">
    <base-spinner></base-spinner>
  </div>
  <div v-else-if="!isLoading">
    <form @submit.prevent="submitForm" class="form-control">
      <div class="form-control" :class="{ invalid: !username.isValid }">
        <label for="topic">Nazwa użytkownika</label>
        <input
          type="text"
          id="topic"
          v-model.trim="username.user"
          @blur="clearValidity('username')"
        />
        <p v-if="!username.isValid">Uzupełnij nazwę użytkownika.</p>
      </div>
      <div class="form-control" :class="{ invalid: !comment.isValid }">
        <label for="comment">Komentarz</label>
        <textarea
          id="comment"
          rows="2"
          v-model.trim="comment.comment"
          @blur="clearValidity('comment')"
        ></textarea>
        <p v-if="!comment.isValid">Uzupełnij komentarz.</p>
      </div>
      <div class="button">
        <base-button>Dodaj komentarz</base-button>
      </div>
    </form>
  </div>
</template>

<script setup>
import { defineProps, ref, reactive } from "vue";
import { useStore } from "vuex";

const store = useStore();
const formIsValid = ref(true);
const error = ref(null);
const isLoading = ref(false);

const props = defineProps(["reportId"]);

const username = reactive({
  user: "",
  isValid: true,
});

const comment = reactive({
  comment: "",
  isValid: true,
});

function handleError() {
  error.value = null;
}

function clearValidity(input) {
  this[input].isValid = true;
}

function validateForm() {
  formIsValid.value = true;
  if (username.user === "") {
    username.isValid = false;
    formIsValid.value = false;
  }
  if (comment.comment === "") {
    comment.isValid = false;
    formIsValid.value = false;
  }
}

async function submitForm() {
  validateForm();
  if (!formIsValid.value) {
    return;
  }

  isLoading.value = true;

  try {
    await store.dispatch("addComment", {
      reportId: props.reportId,
      comment: comment.comment,
      user: username.user,
    });
  } catch (err) {
    error.value = err.message || "Nie udało się dodać komentarza.";
  }
  username.user = "";
  comment.comment = "";
  isLoading.value = false;
}
</script>

<style scoped>
form {
  margin: 2rem auto;
  max-width: 40rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 2rem;
  background-color: #ffffff;
}

.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

.form-control.invalid input {
  border-color: red;
}
.form-control.invalid label {
  color: red;
}
.form-control.invalid p {
  color: red;
}

h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  margin-top: 0.5rem;
}

select {
  width: 30%;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  width: auto;
  margin-right: 1rem;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  font-weight: normal;
}
</style>
