<template>
  <li>
    <div>
      <h3>{{ props.content }}</h3>
    </div>
    <div>
      <h4>{{ actionStatus }}</h4>
    </div>
    <div>
      <base-button link :to="reportDetails" class="outline">
        Wyświetl szczegóły
      </base-button>
    </div>
  </li>
</template>
<script setup>
import { computed, defineProps } from "vue";
import { useRoute } from "vue-router";
import { useStore } from "vuex";

const store = useStore();

const route = useRoute();

const props = defineProps(["id", "content", "actionStatus"]);

const reportDetails = computed(function () {
  return route.path + "/" + props.id;
});

const actionStatus = store.getters.actionStatus.find(
  (action) => action["id"] === props.actionStatus
)["status"];
</script>

<style scoped>
li {
  margin: 1rem 0;
  border: 1px solid #424242;
  border-radius: 12px;
  padding: 1rem;
  list-style: none;
}

h3 {
  font-size: 1.5rem;
}

h3,
h4 {
  margin: 0.5rem 0;
}

div {
  margin: 0.5rem 0;
}

.buttons {
  margin: 1rem 0 0 0;
}
</style>
